<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<app-page-header [title]="'Orders'">
  <button class="btn btn-link" type="button" (click)="toggleAdvanceSearch()">
    Advance Search
  </button>
</app-page-header>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <app-alert type="success" [message]="successMessage"></app-alert>
        <app-alert type="danger" [message]="errorMessage"></app-alert>

        <form (ngSubmit)="customFilter()" [@slideInOut]="animationState">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="filters.title"
                       placeholder="Name">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="status">Status</label>
                <select [(ngModel)]="filters.status" id="status" name="status" class="form-control">
                  <option value="">Select Status</option>
                  <option *ngFor="let single_status of status" [value]="single_status.value">
                    {{single_status.title}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="clearfix">
            <button class="btn btn-primary float-right" type="submit">Submit</button>
            <button class="btn btn-outline-secondary mr-2 float-right" type="reset">Clear Filters</button>
          </div>

          <hr/>
        </form>

        <div class="table-responsive- datatable-wrapper">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Order</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td>{{ i + 1 }}</td>
              <td>#{{order.order_no}} {{order.first_name}} {{order.last_name}}</td>
              <td>{{ order.date_created | date:'dd MMM y h:mm a' }}</td>
              <td><app-status-badge [status]="order.status"></app-status-badge></td>
              <td>${{ order.grand_total | number : '1.2-2' }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-primary icon-btn btn-xs" type="button"
                          (click)="doAction('view',order )">
                    <i class="fa fa-eye"></i>
                  </button>
                  <!-- <button class="btn btn-warning icon-btn btn-xs" type="button"
                          (click)="doAction('edit', order)">
                    <i class="fa fa-pencil"></i>
                  </button> -->
                </div>
              </td>
            </tr>
            <tr *ngIf="categories?.length == 0">
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
